<h2>Stats</h2>
<table class="table">
    <thead>
    <tr>
        <th>Cr</th>
        <th>Int</th>
        <th>Ins</th>
        <th>Ch</th>
        <th>Ag</th>
        <th>Dex</th>
        <th>Con</th>
        <th>Str</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ .Cr }}</td>
        <td>{{ .Int }}</td>
        <td>{{ .Ins }}</td>
        <td>{{ .Ch }}</td>
        <td>{{ .Ag }}</td>
        <td>{{ .Dex }}</td>
        <td>{{ .Con }}</td>
        <td>{{ .Str }}</td>
    </tr>
    </tbody>
</table>