{{ define "content" }}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr onclick="window.location='/search?t={{ .Table }}&q={{ .Title }}'">
            <td style="white-space: nowrap">{{ .Title }}</td>
            <td style="max-width: 60vw; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{ .Text }}</td>
            <td style="white-space: nowrap">
                {{ range .Tags }}
                <i class="p-2">{{ . }}</i>
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
